/* Define the container div 
1fr unit for all columns and rows*/


.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);

    width: 450px;
    height: 450px;
    margin: 0 auto;
    background-color: white;
  }
  /* Define the grid squares */
  .square {
    width: 20px;
    height: 20px;
    border: 1px solid black;
  }
  /* Add hover effect */
  .square:hover {
    background-color: black;
  };

